*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

:root {
    --bg-color: #F1F0E5;
    --font-color: #0074D9;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;

    color: var(--font-color);
    background-color: var(--bg-color);
}